body {
}

/* login Page */

.container-flex {
  margin-top: 15%;
  margin-left: 10%;
}

.cards-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-left: 5%;
}
.login-form {
  display: felx;
  align-items: center;
}
.login-form div {
  width: 400px !important;
}
.login-input {
  width: 100% !important;
  height: 40px;
}
button {
  width: 100px !important;
  height: 40px;
  font-size: 22px;
  margin-bottom: 30px !important;
}
.ml-1 {
  margin-left: 10px !important;
}
.volunteer-register-container,
.student-register-container {
  margin-top: 10px;
  font-size: 23px;
}

.student-volunteer-register-link {
  color: #5cb85c;
}

.card-border {
  margin-left: 10px;
  border: 2px black solid;
  width: 100% !important;
  background-color: lightgray;
  margin-top: 10px;
}

.card-border-container {
  margin-left: 10px;
  width: 40% !important;
  margin-top: 10px;
}

/* Category */
.category {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 50px;
}

.category h3 {
  width: 100%;
}

/* Categories */
.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

/* tutorial */
.tutorial-container {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 50px;
}

/* CategoryContent */
.category-content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
