.availability-form-container {
  display: flex;
  justify-content: space-around;
}

.availability-form {
  width: 50%;
}

.session-form-container {
  display: flex;
  justify-content: space-around;
}

.session-form {
  width: 50%;
}
.availabilities-availability-container {
  width: 100%;
  margin-top: 20px;
  box-shadow: 0em 0.15em 0.65em 0em rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.sessions-session-container {
  width: 100%;
  margin-top: 20px;
  box-shadow: 0em 0.15em 0.65em 0em rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 640px) {
  .availability-form {
    width: 100%;
  }
  .session-form {
    width: 100%;
  }
}
